<ion-content>
  <div class="conteudo">
    <ion-label class="titulo">Entre com sua conta</ion-label><br>
    <div class="entradas">
      <ion-item class="entrada">
        <ion-label position="floating">E-mail:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="entrada">
        <ion-label position="floating">Senha: </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
    <ion-button class="criar" shape="round" expand="block" [routerLink]="['/tabs']">Entrar</ion-button><br>
    <ion-label class="entrar">Não possui conta? <span class="login">Entre aqui</span></ion-label>
  </div>
</ion-content>
