<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="entrar">Entrar</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/comida.jpg" class="slide1">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="titulo">Encontre comidas que você ama</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subtitulo">Discubra as melhores refeições em <br> mais de 1000 restaurantes</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="criar" shape="round" expand="block" [routerLink]="['/cad-usu001']">Criar Conta</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="face" shape="round" expand="block">
              <ion-icon class="icoface" name="logo-facebook"></ion-icon>
              Continue com o Facebook
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="entrar">Entrar</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/entregador.jpg" class="slide1">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="titulo">Encontre comidas que você ama</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subtitulo">Discubra as melhores refeições em <br> mais de 1000 restaurantes</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="criar" shape="round" expand="block">Criar Conta</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="face" shape="round" expand="block">
              <ion-icon class="icoface" name="logo-facebook"></ion-icon>
              Continue com o Facebook
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="entrar">Entrar</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/celular.jpg" class="slide1">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="titulo">Encontre comidas que você ama</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subtitulo">Discubra as melhores refeições em <br> mais de 1000 restaurantes</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="criar" shape="round" expand="block">Criar Conta</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="face" shape="round" expand="block">
              <ion-icon class="icoface" name="logo-facebook"></ion-icon>
              Continue com o Facebook
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>