.busca {
    --border-radius: 25px;
}

ion-badge{
    background: bisque;
}

.pontos{
    color: red;
    margin-left: 5px;
}

ion-card-title{
    font-weight: bolder;
}

.populares{
    font-size: larger;
    font-weight: bolder;
    color: red;
    margin-left: 10px;
}

.rtitulo{
    font-weight: bolder;
    font-size: large;
}

.rsubtitulo{
    font-size: small;
    color: gray;
}
