<ion-header>
  <ion-toolbar>
    <ion-searchbar class="busca" placeholder="Procure refeições"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- INÍCIO CARROSSEL -->
  <ion-slides [options]="sliderConfig">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-badge>
              <img src="assets/oferta.png">
            </ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Ofertas</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-badge>
              <img src="assets/lanche.png">
            </ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Lanches</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-badge>
              <img src="assets/asian.png">
            </ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Asiáticos</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-badge>
              <img src="assets/pizza.png">
            </ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Pizza</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <!-- FIM CARROSSEL -->
</ion-content>