.apresenta{
  background: red;
  color: white;
  width: auto;
  height: 200px;
  border-radius: 20px;
  animation: deslizeMe 2s ease-in-out; 
}

.abertura{
  color: white;
  width: auto;
  height: 490px;
  animation: deslizeMeImagem 2s ease-in-out; 
}

@keyframes deslizeMe {
  0%{
    transform: skewY(50deg) translateY(500px);
  }
  100% {
    transform: skew(1deg);
  }
}

@keyframes deslizeMeImagem{
  0%{
    transform: skewY(50deg) translateY(-1000px);
  }
  100% {
    transform: skew(2deg);
  }
}

.btnentrar{
  --background: white;
  color:black;
  font-weight: bolder;
}

.conteudo{
  margin-left: 25px;
  padding-top: 25px;
}

.titulo{
  font-size: xx-large;
  font-weight: bolder;
}

.subtitulo{
  font-size: small;
}